/* signup.php */
body {
    background-image: url('1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* signup.php & login.php - input text */
#text {
    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
}

/* signup.php & login.php - the signup button and login */
#button {
    padding: 10px;
    width: 100px;
    color: black;
    background-color: lightblue;
    border: none;
}
/* signup.php & login.php - signup and login form container */
#box {
    background-color: #2c3e50;
    margin: auto;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* signup.php & login.php - the text inside the signup/login form container. */
#box div {
    font-size: 20px;
    margin: 10px;
    color: white;
}

/* signup.php & login.php - the link inside the signup/login form container */
#box a {
    color: white;
}

/* login.php - bcg*/
body.signup-bcg {
    background-image: url('3.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* Additional styles from members.php, menu.php, profile.php */
body.page {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.user-box, .box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    text-align: left;
}

.box {
    width: 45%; 
    text-align: center;
}

.menu-flex-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

.menu-flex-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    width: 45%; 
}

.menu-flex-box a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}


.logout-link {
    display: block;
    width: fit-content;  
    margin: 20px auto;  
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.delete-link {
    display: block;
    width: fit-content;  
    margin: 20px auto;  
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
}

